<div class="row-fluid">
    <div class="span1">
    </div>
    <div class="span10">
          <%= bootstrap_flash %>
          <%= yield %>
    </div>
    <div class="span1">
    </div>
</div><!--/row-->

